header {
    background-color: #ecf7fe;
}
nav{
    width: 100%;
    z-index: 100;
    background: #FF7800;
    position: fixed;
    padding: 0.5rem 1rem;
}
.navLinks{
    float: right;
}
body {
    font-family: "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
}
#filterZoek {
    background-color: #FF7800;
    width: 905.987px;
    height: 123.200px;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin: 0 auto;
    padding: 2rem;
}
.filterBox{
    height: 42px;
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #444;
    float: left;
}
.vraagContainer{
    margin-left: 306.013px;
}
h2 {
    margin-left: 25px;
}
.boxInfo{
    width: 250px;
    height: 250px;
    border: 3px solid blue;
    float: left;
    margin: 2px;
}
#buttonBox{
    margin-top: 300px;
    /* margin-left: -500px;
    height: 75px;
    width: 150px; */
}
.btn {
    margin-left: 100px;
}
#b1{
    float: left;
    margin-right: 200px;
}
.col3{
    padding-top: 35px;
}